#login
    background: url("../assets/img/health-bg.jpg")
    background-size: cover;

    .v-content
        background: linear-gradient(to bottom right, transparentify(#00838F, 0.8) 20%, #00838F 80%)

    .login-home
        padding: 0 2em;
        color: #fff;